@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.slick-dots {
  bottom: -50px !important;
  li {
    margin: 0 !important;
  }
  .slick-active {
    div {
      background-color: #1071ff !important;
    }
  }
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 6px;
  height: 6px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #cfd2d5;
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #f6f8fb;
}
.ant-tooltip-inner {
  width: fit-content;
}
.ant-modal-mask {
  z-index: 1999 !important;
}
.ant-modal-wrap {
  z-index: 2000 !important;
}
.ant-modal-content {
  width: fit-content;
}
.modal-success {
  .ant-modal-content {
    border-radius: 24px;
    padding: 20px 120px;
  }
}
.MuiPickersPopper-root {
  z-index: 2001 !important;
}
input#quantity-component {
  text-align: center;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
